<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="students login">
        <strong>students login</strong>
        <form action="/auth/Students" method="POST">
            <label>userName: </label>
            <input type="text" placeholder="user name" name="userName"><br><br>
            <label>password: </label>
            <input type="password" placeholder="password" name="password"><br>
            <button>Submit</button>
        </form>
    </div>
    <br>
   
    <br>
    <div id="admin login">
        <strong>admin login</strong>
        <form action="/auth/Admin" method="POST">
            <label>email: </label>
            <input type="email" placeholder="email" name="email"><br><br>
            <label>password: </label>
            <input type="password" placeholder="password" name="password"><br>
            <button>Submit</button>
        </form>
    </div>
    <br>

    <script src="assets/student.js"></script>
</body>
</html>