<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="students login">
        <strong>students login</strong>
        <form action="/auth/Students" method="POST">
            <label>userName: </label>
            <input type="text" placeholder="user name" name="userName"><br>
            <label>password: </label>
            <input type="password" placeholder="password" name="password"><br>
            <button>Submit</button>
        </form>
    </div>
    <br>
    <br>
    <div id="entry">
        <strong>entry</strong>
        <form action="/students/timelogs/start" method="POST">
            <label>student entry: </label>
            <button>Submit</button>
        </form>
    </div>
    <br>
    <div id="exit">
        <strong>exit</strong>
        <form action="/students/timelogs/end" method="POST">
            <label>student exit: </label>
            <button>Submit</button>
        </form>
    </div>
    <br>

    <br>
    <div id="students by id">
        <strong>students by id</strong>
        <form action="/students/" method="GET">
            <label>student id: </label>
            <input type="text" placeholder="Id" name="id"><br>
            <label>students by id : </label>
            <button>Submit</button>
        </form>
    </div>
    <br>
    <br>
    <br>

</body>
<script src="assets/student.js"></script>

</html>